/*     */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 350px;
    margin-top: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(17, 1, 1, 0.1);
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    text-align: center;
}

.navbar a {
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 10px;
}


/* The code below makes the UI "Responsive". */

@media screen and (max-width: 1440px) {
    .navbar {
        flex-direction: row;
        padding: 0% 150px;
    }
    .navbar a {
        margin: 5px 0;
    }
}

@media screen and (max-width: 1024px) {
    .navbar {
        flex-direction: row;
        padding: 5px 15px;
    }
    .navbar a {
        margin: 8px 5px;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: row;
        padding: 0% 15px;
    }
    .navbar a {
        margin: 5px 0;
    }
}


@media screen and (max-width: 425px) {
    .navbar {
        flex-direction: column;
        padding: 0% 10px;
    }
    .navbar a {
        margin: 4px 0;
        font-size: 14px;
    }
}

@media screen and (max-width: 375px) {
    .navbar {
        flex-direction: column;
        padding: 0% 8px;
    }
    .navbar a {
        margin: 3px 0;
        font-size: 13px;
    }
}

@media screen and (max-width: 320px) {
    .navbar {
        flex-direction: column;
        padding: 0% 5px;
    }
    .navbar a {
        margin: 2px 0;
        font-size: 12px;
    }
}
